[user]
	#name = Liam Hutton
	#email = lhutton@companieshouse.gov.uk
    name = sbasile-ch
	email = sbasile@companieshouse.gov.uk
[core]
	editor = /usr/bin/vim
	pager = cat
	autocrlf = false
	excludesfile = /Users/sbasile/.gitignore
[merge]
	tool = vimdiff
[alias]
    l = log --all    --graph --pretty='format:%Cgreen%h%Creset %Cblue%ad%Creset%C(bold)%C(yellow)%d%Creset %C(white)%s%Creset %Cblue%an%Creset' --date=relative
	show-graph = log --graph --abbrev-commit --pretty=oneline
    l1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    l2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	s = status
	d = diff
	co = checkout
	cd = checkout develop
	cm = checkout master
	cf = checkout feature/fozzie_ci_20180619
	dc = diff --cached
	b = branch
	ba = branch -a
[http]
    #proxy = http://wsproxy.internal.ch:8080
	postBuffer = 524288000
[https]
    #proxy = http://wsproxy.internal.ch:8080
[push]
	default = simple
[remote "origin"]
	prune = true
[url "https://sbasile-ch:9cdd3b981596fdaca390c5021e068a091aaee4d3@github.com/"]
	insteadOf = https://github.com/
[url "https://sbasile-ch:9cdd3b981596fdaca390c5021e068a091aaee4d3@github.com/"]
	insteadOf = git@github.com:
[url "git@github.com:"]
	insteadOf = https://github.com/
